@import "tailwindcss";

@theme {
  --breakpoint-sm: 340px;
  --breakpoint-md: 648px;
  --breakpoint-lg: 1024px;
}

body {
  font-family: "Quicksand", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #df3064;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2f2e79;
}

.ripple-btn::before {
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: 0;
  height: 0;
  background: linear-gradient(90deg,#f43f5e);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.4s ease, height 0.4s ease;
}

.ripple-btn:hover::before {
  width: 500px;
  height: 500px;
}

.ripple-btn:not(:hover)::before {
  width: 0;
  height: 0;
}